@charset "utf-8";
@import "https://fonts.googleapis.com/earlyaccess/notosanskr.css";
.top_img{background-image:url(../img/community_img.png)}
.page_title{background-image:url(../img/news_title.png)}
article{max-width:1000px;margin:0 auto}
.list_table{border-top:2px solid #21b1ce;box-sizing:border-box;float:left}
.pre_table{border-top:1px solid #e0e0e0;height:108px}
.list_table .table_header,.pre_table .table_header{width:120px;height:54px;font-weight:400;background-color:#fafafa;box-sizing:border-box;float:left;line-height:54px;text-align:center;font-size:15px;border-bottom:1px solid #e0e0e0}
.list_table .title,.pre_table .title{width:880px;height:54px;float:left;font-weight:300;box-sizing:border-box;padding-left:20px;line-height:54px;font-size:15px;border-bottom:1px solid #e0e0e0}
.list_table .date{width:400px;height:54px;float:left;font-weight:300;box-sizing:border-box;padding-left:20px;line-height:54px;font-size:15px;border-bottom:1px solid #e0e0e0}
.list_table .writer{width:120px;height:54px;float:left;font-weight:300;box-sizing:border-box;padding-left:20px;line-height:54px;font-size:15px;border-bottom:1px solid #e0e0e0}
.view p{font-weight:300;font-size:16px;padding:30px 40px;float:left;line-height:25px}
.view img{margin:0 auto;max-width:920px;display:block;margin-bottom:10px}
.pre_table{margin-top:80px}
a:visited{color:#202020}
