@charset "utf-8";
@import "https://fonts.googleapis.com/earlyaccess/notosanskr.css";
.top_img{background-image:url(../img/support_img.png)}
.page_title{background-image:url(../img/hunet_title.png)}
article .grid_contents{margin-bottom:100px}
article .grid_contents .grid{background-image:url(../img/grid.png);width:500px;height:180px;margin-top:20px;float:left}
article .grid_contents .grid img{display:block;margin:0 auto;position:relative;top:50%;margin-top:-29px}
article .grid_contents .grid_textarea{width:640px;float:left;margin-left:60px}
article .grid_contents .grid_textarea .contents_title{font-size:28px;font-weight:300;margin-bottom:20px}
article .grid_contents .grid_textarea .contents_title .bold{font-weight:500}
article .grid_contents .grid_textarea .contents_sub{font-weight:300;font-size:20px}
article .grid_contents .grid_textarea .contents_sub .skyblue{font-weight:400}
h3.category_sub_title{text-align:center;margin-bottom:8px}
p.category_subTitle{color:#7f7f7f;text-align:center;margin-bottom:40px}
.advantage ul{width:900px;height:70px;margin:0 auto;display:block;margin-bottom:60px}
.advantage ul li{float:left}
.advantage ul li .plus_icon{height:70px;vertical-align:middle;margin-left:-43px}
.advantage ul li.border_blue{width:280px;height:70px;border-radius:40px;border-style:dashed!important;background-color:rgba(25,155,183,0.2);text-align:center;line-height:70px;font-size:20px;font-weight:400}
.advantage ul li.border_blue span.blue{margin-left:10px}
.advantage ul li:nth-child(5){margin-left:-42px}
.advantage h5.black{text-align:center;font-weight:400;width:100%;padding-bottom:60px;border-bottom:1px solid #dbdbdb}
.card{margin-top:90px;box-sizing:border-box;margin-bottom:90px}
.card .card_user{width:1300px;box-sizing:border-box}
.card .card_user .thum{width:224px;height:245px;box-sizing:border-box;text-align:center;margin-right:20px;margin-bottom:20px;float:left}
.card .card_user .thum img{margin-bottom:20px}
.card .card_user .thum h6.black{font-weight:300}
.card .card_user .thum h5.blue{font-weight:400;margin-top:4px}
.card .card_user div.border_blue{width:370px;height:70px;float:right;margin-top:90px;margin-right:150px;text-align:center;line-height:69px}
.process{padding-top:60px;padding-bottom:90px;margin-bottom:100px}
article .process{clear:both;padding-top:60px;padding-bottom:90px;box-sizing:border-box}
/* article .process ul li{float:left;box-sizing:border-box} */
article .process .center .step01,article .process .center .step02,article .process .center .step03,article .process .center .step04,article .process .center .step05,article .process .center .step06{width:320px;height:144px;margin-bottom:40px;background-position: right center;}
article .process .center .step01{background-image:url(../img/hunet_step01.png)}
article .process .center .step02{background-image:url(../img/hunet_step02.png)}
article .process .center .step03{background-image:url(../img/hunet_step03.png)}
article .process .center .step04{background-image:url(../img/hunet_step04.png)}
article .process .center .step05{background-image:url(../img/hunet_step05.png)}
article .process .center .step06{background-image:url(../img/hunet_step06.png)}
article .process .center li h5{padding-left:140px;padding-top:25px;line-height:20px;margin-bottom:20px}
article .process .center li p{padding-left:20px}
article .process .center .step06 .link_btn{width:190px;height:50px;display:block;margin-left:20px;margin-top:10px}
.apply{clear:both}
.apply .input_area .area{border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;padding:15px 0;margin-top:-1px}
.apply .input_area .area label{float:left;width:200px;line-height:45px;font-weight:500;color:#202020}
.apply .input_area .area input[type="text"]{float:left;width:650px;height:45px;box-sizing:border-box;border:1px solid #dbdbdb;font-family:inherit;font-size:16px;padding-left:15px;letter-spacing:-1px;color:#393939}
.apply .input_area .address .address_code{width:200px!important}
.apply .input_area .address .bg_green{width:110px;height:45px;margin-left:10px;font-family:inherit;color:#fff;letter-spacing:-1px;font-size:16px;cursor:pointer}
.apply .input_area .address .address_box{clear:both;margin-left:200px;margin-top:10px}
.apply .input_area .tell select{width:130px;height:45px;float:left;box-sizing:border-box;border:1px solid #dbdbdb;font-family:inherit;font-size:16px;padding-left:15px;letter-spacing:-1px;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../img/select_bg.png) no-repeat right center;cursor:pointer}
select::-ms-expand{display:none}
.apply .input_area .tell .bar{float:left;width:20px;line-height:45px;color:#8e8e8e;text-align:center}
.apply .input_area .tell .tell_box{width:130px!important}
.apply .input_area .mail .mail_box{width:130px!important}
.apply .input_area .mail .at{float:left;width:25px;line-height:45px;color:#8e8e8e;text-align:center;font-size:15px}
.apply .input_area .mail select{width:130px;height:45px;float:left;box-sizing:border-box;border:1px solid #dbdbdb;font-family:inherit;font-size:16px;padding-left:15px;letter-spacing:-1px;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../img/select_bg.png) no-repeat right center;cursor:pointer;margin-left:15px}
select::-ms-expand{display:none}
.apply .input_area .agree{height:130px}
.apply .input_area .agree p.green{float:left;width:200px;line-height:130px;font-weight:500}
.apply .input_area .agree p.small{float:left;font-size:15px;color:#7f7f7f}
.apply .input_area .apply_btn{color:#fff;font-size:20px;font-family:inherit;letter-spacing:-1px;width:300px;height:70px;cursor:pointer;display:block;margin:40px auto 0}
