@charset "utf-8";
@import "https://fonts.googleapis.com/earlyaccess/notosanskr.css";
.top_img{background-image:url(../img/community_img.png)}
.page_title{background-image:url(../img/notice_title.png)}
article{max-width:1000px;margin:0 auto}
.search{width:1000px;height:130px;background-color:#f1f1f5;text-align:center;padding-top:45px;box-sizing:border-box;margin-bottom:60px}
.search form{width:465px;height:40px;margin:0 auto}
.search select{width:120px;height:40px;background:#fff url(../img/select_bg.png) no-repeat right center;box-sizing:border-box;letter-spacing:-1px;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;padding-left:15px;font-family:inherit;font-size:15px;margin-right:5px;float:left}
select::-ms-expand{display:none}
.search input[type="search"]{width:280px;height:40px;float:left;padding-left:10px}
.search button{width:60px;height:40px;float:left;color:#fff;font-weight:300}
input[type="search"]::-webkit-input-placeholder{color:#a2a2a2;font-weight:300}
input[type="search"]:-ms-input-placeholder{color:#a2a2a2;font-weight:300}
input[type="search"]::-moz-placeholder{color:#a2a2a2;font-weight:300}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration{display:none}
p.black{margin-bottom:15px}
p.black img{margin-right:8px}
p.black span{margin-left:3px;margin-right:2px;font-weight:500}
table tr th{border-top:2px solid #21b1ce;border-bottom:1px solid #21b1ce;width:1000px;height:54px;box-sizing:border-box;background-color:#fafafa;font-weight:400}
table tr th:nth-child(1){width:88px;height:54px}
table tr th:nth-child(2){width:556px}
table tr th:nth-child(3){width:133px}
table tr th:nth-child(4){width:133px}
table tr th:nth-child(5){width:88px}
table tr td{text-align:center;color:#7f7f7f;font-weight:400;font-size:15px;height:54px;border-bottom:1px solid #e0e0e0}
table tr td:nth-child(2){text-align:left;color:#363636;font-weight:400}
table tr td a:visited{color:#202020;text-decoration:none}
ul.list_pager{text-align:center;margin-top:30px}
ul.list_pager li{display:inline;margin-left:30px}
ul.list_pager li:first-child{margin:0}
ul.list_pager li a{font-size:16px;color:#a2a2a2}
a,a:visited{color:#202020}
